# In order to use this dev.yml create a new file called dev.yml in the config directory,
# using this .example file as a template. The dev.yml file is ignored by git, and each developer
# must create and manage their own file.
#
# dev.yml will overwrite any of the configuration settings in default.yml if the ROKU_PROFILE environment variable is set to "dev"
#
# {{hostUri}} will be replaced by the local IP of a server that starts during "make install" so that the various files
# below will be served from local sources rather than the CDN.

# {{versionMinorDotted}} will be replaced with the current version of the channel (ie. 2.5)

# --------------------------------------------------------------------------------------------
# ------------ There is no need to copy any of the lines above to dev.yml --------------------

settings:
  mode: "dev"
  starterComponentsUrl: "http://{{localHostUri}}/tubi_starter_components_{{versionMinorUnderscored}}.{{fileType}}"
  remoteComponentsUrl: "http://{{localHostUri}}/tubi_remote_components_{{versionUnderscored}}.{{fileType}}"
  # remoteComponentsExtension will fill in the {{fileType}} template value.
  remoteComponentsExtension: "zip"

  # The following can be used to make debugging less painful
  noAds: false
  numContainers: 10

  #To enable the Charles Proxy, set CharlesProxyEnabled true
  charlesProxyUrl: "http://{{localHostAddress}}:8888"
  charlesProxyEnabled: false

  # any settings config values under bs_consts below will overwrite
  # bs_consts values set in the various manifests in default.yml
  bs_const:
    consoleLoggingEnabled: true