' In order to use this dev.yml create a new file called dev.yml in the config directory,
' using this .example file as a template.
'
' dev.yml will overwrite any of the configuration settings in default.yml if the ROKU_PROFILE environment variable is set to "dev"
'
' {{hostUri}} will be replaced by the local IP of a server that starts during "make install" so that the various files
' below will be served from local sources rather than the CDN.

' {{versionMinorDotted}} will be replaced with the current version of the channel (ie. 2.5)

settings:
  mode: "dev"
  hotPatchUrl: "http://{{hostUri}}/hotpatch/{{versionMinorDotted}}.brs"
  remoteComponentsHost: "http://{{hostUri}}"
  remoteComponentsExtension: "zip"

