# In order to use this dev.yml create a new file called dev.yml in the config directory,
# using this .example file as a template. The dev.yml file is ignored by git, and each developer
# must create and manage their own file.
#
# dev.yml will overwrite any of the configuration settings in default.yml if the ROKU_PROFILE environment variable is set to "dev"
#
# {{hostUri}} will be replaced by the local IP of a server that starts during "make install" so that the various files
# below will be served from local sources rather than the CDN.

# {{versionMinorDotted}} will be replaced with the current version of the channel (ie. 2.5)

# --------------------------------------------------------------------------------------------
# ------------ There is no need to copy any of the lines above to dev.yml --------------------

settings:
  mode: "dev"
  starterComponentsUrl: "http://{{localHostUri}}/tubi_starter_components_{{versionMinorUnderscored}}.{{fileType}}"
  remoteComponentsUrl: "http://{{localHostUri}}/tubi_remote_components_{{versionUnderscored}}.{{fileType}}"
  # remoteComponentsExtension will fill in the {{fileType}} template value.
  remoteComponentsExtension: "zip"

  # The following can be used to make debugging less painful
  noAds: false  # prevents ads from playing
  numContainers: 10  # limits the number of containers on the homescreen

  # email/password values will be used to automatically sign a user in when "sign in" is selected
  email: ""
  password: ""

  # setting printReqAndResInfo as true will print log for all api request information
  printReqAndResInfo: true

  # To enable the Charles Proxy, set CharlesProxyEnabled true
  charlesProxyUrl: "http://{{localHostAddress}}:8888"
  charlesProxyEnabled: false

  stagingApis: false  # setting to true will use UAPI staging APIs (matrix, cms, user_device)

  raleEnabled: false # setting to true will enable RALE being included in dev builds

  # A date which will be used as the current date within the app. Use this to simulate a date in the past or future. If a date is provided this gets converted to a time offset in seconds to allow testing of features only available at a particular time
  # testingTimeOffset: "2022-12-18T20:00:00Z"

  # To speed up app launches during development, we can do the following
  #   1. set processAnimationLogo to false in order to prevent the initial animated logo from playing at app launch
  #   2. set useStarterComponents and useRemoteComponents to false so as not to use component libraries
  #   3. changing 'splash_min_time=0' on Manifest might save a second or two.
  #   4. set numContainers to a smaller number
  #
  # Please make sure to test with setting values that will mimic production before creating the PR.
  # Especially when working on deeplink, main.brs, starter/reomote components
  #
  # Note: setting useStarterComponents to false will also prevent remote
  # components and the animated logo from launching

  useStarterComponents: true
  useRemoteComponents: true
  processAnimationLogo: true

  # any settings config values under bs_consts below will overwrite
  # bs_consts values set in the various manifests in default.yml
  bs_const:
    consoleLoggingEnabled: true
    consoleLoggingIncludeTimestamp: false # whether to include timestamp in log outputs
