#copy to .vscode/.env and fill in your Roku device IP address and password
ROKU_VSCODE_DEV_TARGET=<REPLACE_YOUR_ROKU_IP_HERE>
DEV_PASSWORD=1234

# testing related
DISABLE_MOCHA_PARALLEL=false
ENABLE_MOCHA_BAIL=true
RERUN_AUTOMATED_TESTS=false
